@font-face {
  font-family: "Inter-Variable";
  src: url("../../public/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 300 400 500 600 700 800 900;
  font-display: swap;
  font-style: normal;
}

.container {
  background-color: #121212;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin-top: 0px;
  font-family: "Inter-Variable";
  color: lightgray;
  font-size: 36px;
}

.button {
  font-family: "Inter-Variable";
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 18px;
  border: none;
  background-color: #1bd760;
}
